*.moc
*.obj
*.pro.user
android/MOCS/
android/Makefile
android/OBJS/
android/android-build/.d
android/android-build/AndroidManifest.xml
android/android-build/assets/
android/android-build/bin/AndroidManifest.xml
android/android-build/bin/AndroidManifest.xml.d
android/android-build/bin/QtApp-debug-unaligned.apk
android/android-build/bin/QtApp-debug-unaligned.apk.d
android/android-build/bin/QtApp.ap_
android/android-build/bin/QtApp.ap_.d
android/android-build/bin/aidl/
android/android-build/bin/build.prop
android/android-build/bin/classes.dex
android/android-build/bin/classes.dex.d
android/android-build/bin/classes/
android/android-build/bin/dexedLibs/
android/android-build/bin/jarlist.cache
android/android-build/bin/proguard.txt
android/android-build/build.gradle
android/android-build/build.xml
android/android-build/gen/
android/android-build/libs/
android/android-build/local.properties
android/android-build/proguard-project.txt
android/android-build/project.properties
android/android-build/res/
android/android-build/src/
android/android-libQColoCrypt.so-deployment-settings.json
android/app_process
android/libQColoCrypt.so
android/libc.so
android/qrc_icons.cpp
android/ui_mainview.h
